:root {
  --bg: #e1f5fe;
  --primary: #7ed9f8;
  --text: #021922;
}

body {
  font-family: system-ui, sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

.weather {
  max-width: 800px;
  padding: 1rem;
  margin: 0 auto;

  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

form {
  grid-column: 1 / 3;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid var(--text);
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;

  background-color: var(--primary);
}

.form-field {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.form-field > label {
  font-size: 1.2rem;
  padding: 0 1rem;
  border-right: 2px solid var(--text);
  height: 100%;

  display: flex;
  align-items: center;
}

.input {
  appearance: none;
  outline: none;
  border: none;
  display: inline-block;

  width: 100%;
  height: 100%;
  background-color: var(--bg);
  font-size: 1.2rem;
  text-align: center;
}

.submit-btn {
  appearance: none;
  border: none;

  border-left: 2px solid var(--text);
  font-size: 1.2rem;
  padding: 0 8px;
  height: 100%;
}

.today {
  border-radius: 0 0 0 1rem;
  display: flex;
  gap: rem;
  justify-content: space-evenly;
  align-items: center;
}

.today-icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  font-size: 1.4rem;
}

.today-info {
  font-size: 1.2rem;
}

.today-info span {
  font-size: 1.4rem;
}

.today-info > *:not(.today-info > *:last-child) {
  margin: 0 0 1rem;
}

.forecasts {
  display: grid;
  gap: 1rem;
}

.forecast {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

.forecast-icon {
  text-align: center;
}

.forecast-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.forecast:last-child > .forecast-info:last-child {
  border-radius: 0 0 1rem 0;
}

.forecast-icon > img {
  max-width: 64px;
  max-height: 64px;
  margin: auto;
}

.forecast-temp span {
  font-size: 1.2rem;
}

.forecast-icon,
.forecast-info,
.today {
  background-color: var(--primary);
  border: 2px solid var(--text);
  padding: 1rem;
}
